# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = dushu02_redis.settings

[deploy:100]
url = http://192.168.18.101:6800/
project = dushu02_redis
